
	<h1>Ritly!</h1> 
	<h2>Create your Ritly</h2>

	<%= form_for @url do |f| %>

		<%= label_tag(:link, "Enter Your Link: http://") %>
		<%= f.text_field :link, :class => "form-horizontal" %></br>

		<%= f.submit "Generate", :class => "btn btn-primary new" %>
	<% end %>

<%= link_to "Show All", urls_path, :class => "btn btn-primary new" %>